@font-face {
  font-family: 'airstrike';
  src: url("./fonts/airstrike/airstrike.ttf") format("truetype");
}

body,
html {
  font-family: airstrike;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  /**
    *Gallery plan 
     - make the p element have a bakcground image, of whateber the project is,
        make the text appear when hovered with mouse
    - Delete DEMO button, only with github link. DEMO button if only links to actual project right away
    - PUT DEMO GITHUB BUTTON INSIDE DISAPPEARING 
    - 
    */
}

body body,
html body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: bold;
}

body header,
html header {
  width: 100%;
  background-color: black;
}

body header img,
html header img {
  width: 20rem;
  margin: 1%;
}

body main,
html main {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .gallery,
html .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: 'airstrike', serif;
  margin-bottom: 8%;
}

body .gallery section,
html .gallery section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

body .gallery > section > div,
html .gallery > section > div {
  background-image: url("https://via.placeholder.com/150");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 18rem;
  -webkit-transform: blur(40px);
          transform: blur(40px);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

body .gallery > section > div:hover, body .gallery > section > div:active,
html .gallery > section > div:hover,
html .gallery > section > div:active {
  background-image: none;
  background-color: black;
  border-radius: 1rem;
  -webkit-transform: scale(110%);
          transform: scale(110%);
  -webkit-transform: blur(40px);
          transform: blur(40px);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body .gallery > section > div > p,
html .gallery > section > div > p {
  text-align: center;
  height: 100%;
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  margin: auto;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-filter: blur(20px);
          filter: blur(20px);
}

body .gallery > section > div > p:hover,
html .gallery > section > div > p:hover {
  opacity: 1;
  -webkit-filter: blur(0);
          filter: blur(0);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body .gallery section img,
html .gallery section img {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

body main a img,
html main a img {
  width: 5rem;
  height: 5rem;
}

body main section div,
html main section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main section div a,
html main section div a {
  color: black;
  margin-top: 13%;
  height: 0;
  font-size: x-large;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main section h2,
html main section h2 {
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5%;
  font-size: large;
}

body .link-bar,
html .link-bar {
  background-color: black;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body .link-bar img,
html .link-bar img {
  width: 5rem;
  margin: 2rem;
}

@media (max-width: 1024px) {
  body .gallery,
  html .gallery {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .gallery > section > div,
  html .gallery > section > div {
    height: 18rem;
    -webkit-transform: blur(40px);
            transform: blur(40px);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  body .gallery > section > div:target,
  html .gallery > section > div:target {
    background-image: none;
    background-color: black;
    border-radius: 1rem;
    -webkit-transform: scale(110%);
            transform: scale(110%);
    -webkit-transform: blur(40px);
            transform: blur(40px);
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  body .gallery > section > div:hover, body .gallery > section > div:active,
  html .gallery > section > div:hover,
  html .gallery > section > div:active {
    background-image: none;
    border-radius: 1rem;
    -webkit-transform: scale(110%);
            transform: scale(110%);
    -webkit-transform: blur(40px);
            transform: blur(40px);
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  body .gallery section,
  html .gallery section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30rem;
  }
}
/*# sourceMappingURL=style.css.map */