// @font-face {
//     font-family: 'airstrike';
//     src: url('/docs/styles/fonts/airstrike/airstrike.ttf'); /* IE9 Compat Modes */
//     src: url('/docs/styles/fonts/airstrike/airstrike.ttf') format('embedded-opentype'), /* IE6-IE8 */
//     url('/docs/styles/fonts/airstrike/airstrike.ttf') format('woff'), /* Modern Browsers */
//     url('/docs/styles/fonts/airstrike/airstrike.ttf')  format('truetype'), /* Safari, Android, iOS */
//     url('/docs/styles/fonts/airstrike/airstrike.ttf') format('svg'); /* Legacy iOS */
//https://www.developerdrive.com/how-to-easily-use-google-fonts-with-sass/
// }
// decided to remove demo button b/c of redundancy

@import url(/docs/styles/fonts/airstrike/,700italic,400,700);

// Font Variables
$airstrike: 'airstrike', serif;   

body,
html{

    width: 100%;
    body{
        width: 100%;
        display: flex;
        flex-direction: column;
       
        font-weight: bold;
    }
    header {
        width: 100%;
        background-color: black;
    }
    header img {
        width: 20%;
        margin: 1%;
    }
    
    main {
        background-color: white;
        display: flex;
        margin-top: 3%;
       
    
    }
    /**
    *Gallery plan 
     - make the p element have a bakcground image, of whateber the project is,
        make the text appear when hovered with mouse
    - Delete DEMO button, only with github link. DEMO button if only links to actual project right away
    - 
    - 
    */
    .gallery{
        display: flex;
        width: 80%;
        
        margin: auto;
        font-family:'airstrike', serif; 
        margin-bottom:5%;
     }
    .gallery section {
        display: flex;
        flex-direction: column;
        width: 100%;
              
      
    }
    .gallery > section>p{
        background-image: url('https://via.placeholder.com/150');
        height:
    }
    .gallery section img {
        width:80%;  
        display: flex;
        margin: auto;
    
    }
    
    main a img {
        width: 5rem;
        height: 5rem;
    }
    
    main section div {
        display: flex;
        flex-direction: row;
        justify-content: center;
    
    }
    
    main section div a {
        color: black;
         margin-top: 13%;
        height: 0;
        font-size: x-large;
        text-align: center;
        display: flex;
        
        // This bellow causes them to align 
        flex-direction: column;
        justify-content: center;
    }
    
    main section h2 {
        color: black;
        display: flex;
        justify-content: center;
        margin: 5%;
        font-size:large;
    }
    .link-bar{
        background-color: black;
        width: 100%;
        height: 5rem;
    }
}
